.mode-border-wrapper {
  background-color: transparent;
  border: 3px solid rgba(192, 192, 192, 0.5);
  border-radius: 8px;
}

.mode-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__players {
    text-align: center;
    color: white;
    font-size: 20px;
  }

  &__container {
    padding: 20px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__game-content {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    width: 90%;
  }

  &__game-result {
    margin: 25px 0;
    color: #e6e6e6;
    font-size: 30px;
    font-weight: normal;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    font-size: 30px;
    font-weight: bold;

    width: 80px;
    height: 100px;
    background-color: transparent;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #e6e6e6;
    border-radius: 15px;
    transition: background-color .4s;
    color: #e6e6e6;
    font-size: 20px;
  }

  &__button:active {
    background-color: #6f6f6f;
  }

  &__credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    line-height: 1.2;
    color: #e6e6e6;
    font-size: 30px;
    font-weight: bold;
  }
}

.separate-top {
  border-top: 3px solid rgba(192, 192, 192, 0.5);
}

.separate-bottom {
  border-bottom: 3px solid rgba(192, 192, 192, 0.5);
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.icon {
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  border: 2px solid #e6e6e6;
}

.icon:last-child {
  margin-bottom: 0;
}