.header-border-wrapper {
  margin-bottom: 10px;
  background-color: transparent;
  border: 3px solid rgb(212, 138, 47);
  border-radius: 8px;
}

.header-page__title {
  padding: 8px 0;
  text-align: center;
  color: #d48a2f;
  font-size: 35px;
  font-weight: bolder;
}

.content-page {
  margin-bottom: 10px;
}

.footer-border-wrapper {
  background-color: transparent;
  border: 3px solid rgb(212, 138, 47);
  border-radius: 8px;
}

.footer-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0;

  &__button {
    width: 100%;
    padding: 5px 0;
    border-right: 3px solid rgb(212, 138, 47);
    color: #d48a2f;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .4s;
  }

  &__button:active {
    background-color: rgba(191, 191, 191, 0.65);
  }

  &__button:last-child {
    border-right: none;
  }
}
